@media screen and (min-width: 992px) {
  .burger-button {
    display: none;
  }
  .openSideNav {
    width: 0 !important;
    overflow-x: hidden !important;
    transition: 0.5s !important;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (max-device-width: 400px) {
  .mobile-menu {
    padding: 0 !important;
  }
  .openSideNav {
    width: 95% !important;
  }
}

@media only screen and (max-device-width: 600px) {
  #mySidenav li a {
    color: white !important;
  }
  .bg-color {
    background: rgba(0, 1, 33, 0.5) !important;
  }
}
nav {
  background: transparent linear-gradient(180deg, #21212e 0%, #21212e00 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 2px #0000008a;
  height: auto;
  padding-top: 22px;
  padding-left: 9.2%;
  padding-right: 9.1%;
}
nav .logo {
  height: 88px;
  width: 64px;
}
nav .logo img {
  width: 64px;
  height: 64px;
}
nav .logo span {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  color: white;
}
nav .navbar-nav {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 16px;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0;
}
nav .navbar-nav a {
  text-decoration: none;
  color: white !important;
}
nav .navbar-nav .menu-button .is-active-menu {
  width: 25px;
  background-color: #4c54fd;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}
nav .navbar-nav .menu-button .dropdown-menu .dropdown-item {
  padding: 0.25rem 0.2rem !important;
}
nav .navbar-nav .menu-button .dropdown-menu .box-arrow-border {
  position: absolute;
  top: -20px;
  left: 72px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #21212e;
  width: 0;
  height: 0;
}
nav .navbar-nav .menu-button .dropdown-menu .box-arrow-border1 {
  position: absolute;
  top: -20px;
  left: 46px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #21212e;
  width: 0;
  height: 0;
}
nav .navbar-nav .menu-button .dropdown-menu .box-arrow-border2 {
  position: absolute;
  top: -20px;
  left: 41px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #21212e;
  width: 0;
  height: 0;
}
nav .navbar-nav .menu-button .dropdown-menu .box-arrow-border3 {
  position: absolute;
  top: -20px;
  left: 24px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #21212e;
  width: 0;
  height: 0;
}
nav .navbar-nav .menu-button .dropdown-menu ul {
  list-style: none;
  padding: 1.5rem !important;
  font-size: 15px;
}
nav .navbar-nav .menu-button .dropdown-menu ul li::before {
  content: attr(data-icon);
  color: #4c54fd;
}
nav .navbar-nav .dropdown-toggle::after {
  content: none !important;
}
nav .language-button {
  background-color: #4c54fd;
  color: white;
  border-width: 0px;
  width: 59px;
  height: 43px;
  border-radius: 5px;
  font-family: "Poppins";
  font-weight: bold;
}
.is-active-menu-mobile {
  width: 50px;
  background-color: #4c54fd;
  height: 2px;
  margin-right: auto;
  margin-left: 15px;
}
.bg-color {
  max-height: max-content;
  background: rgba(0, 1, 33, 0.4);
}
.header-image {
  background-image: url("../assets/photos/e-scooter.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.dropdown-menu-dark {
  background-color: #21212e !important;
  box-shadow: 0px 0px 40px #0000008a;
}
.burger-button {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 35px;
}
#mySidenav {
  box-shadow: black 0px 5px 15px;
}
#mySidenav .sidenavImg {
  background-image: url("../assets/photos/logo_beyaz2x.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 28rem;
  height: inherit;
  background-image: linear-gradient(to bottom, rgba(33, 33, 46, 0.9) 0%, rgba(33, 33, 46, 0.9) 100%), url("../assets/photos/logo_beyaz2x.png");
}
#mySidenav .mobile-menu {
  padding: 1.5rem;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
#mySidenav .mobile-menu .mobile-menu-li {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#mySidenav .mobile-menu .mobile-menu-li a {
  color: #818181;
}
#mySidenav .mobile-menu .mobile-menu-li a:hover {
  color: white;
}
#mySidenav .mobile-menu .mobile-menu-li a:focus {
  color: white;
}
.ul-sidenav li .dropdown-item {
  font-size: 14px;
}
.ul-sidenav li .dropdown-item:hover {
  background-color: gray;
}
.ul-sidenav li .dropdown-item:focus {
  background-color: #0d6efc;
}
.ul-sidenav li:before {
  content: attr(data-icon);
  color: #4c54fd;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.material-icons {
  font-size: 35px;
}
.closebtn {
  color: white;
  border: none;
  background-color: transparent;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  margin-left: 50px;
}
.mobile-language-close {
  display: flex;
  justify-content: space-around;
}
.openSideNav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #21212e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.closeSideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.page-header {
  height: 211px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.page-header::before {
  position: absolute;
  font: normal normal bold 150px/226px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.15;
}

.page-header span {
  font: normal normal bold 32px/48px Poppins;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
}
