@media screen and (min-width: 992px) {
  .burger-button {
    display: none;
  }
  .openSideNav {
    width: 0 !important;
    overflow-x: hidden !important;
    transition: 0.5s !important;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1200px) {
  .section-image {
    width: 0% !important;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
}

@media only screen and (min-width: 1201px) {
  .section-image {
    width: 100% !important;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
  }
}
@media only screen and (max-device-width: 400px) {
  .mobile-menu {
    padding: 0 !important;
  }
  .openSideNav {
    width: 95% !important;
  }
}
@media only screen and (max-device-width: 1650px) {
  .page-cards {
    .ticket-system {
      margin-top: 20px !important;
    }
    .smart-system {
      margin-top: 20px !important;
    }
    .share-platform {
      margin-top: 20px !important;
    }
  }
}
@media only screen and (max-width: 900px) {
  .haberler-word {
    &:before {
      font-size: 100px !important;
    }
  }
}
@media only screen and (max-device-width: 600px) {
  .haberler-word {
    &:before {
      font-size: 70px !important;
    }
  }
  .page-cards {
    .smart-system {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    .ticket-system,
    .share-platform,
    .smart-system {
      width: 310px !important;
      height: auto !important;
      .left {
        width: 100px !important;
      }
      .right {
        width: 200px !important;
      }
    }
  }
  #mySidenav {
    li {
      a {
        color: white !important;
      }
    }
  }

  .carousel-div {
    margin-left: 0 !important;
    margin-top: 3rem !important;
    padding: 1rem;
  }
  .bg-color {
    background: rgba(0, 1, 33, 0.5) !important;
  }
}

@media only screen and (max-width: 400px) {
  .haberler-word {
    &:before {
      font-size: 50px !important;
    }
    div {
      font-size: 20px !important;
    }
  }
}

@media screen and (max-width: 500) {
  .bg-color {
    background: rgba(0, 1, 33, 0.7) !important;
  }
}

nav {
  background: transparent linear-gradient(180deg, #21212e 0%, #21212e00 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 0px 2px #0000008a;
  height: auto;
  padding-top: 22px;
  padding-left: 9.2%;
  padding-right: 9.1%;
  .logo {
    height: 88px;
    width: 64px;
    img {
      width: 64px;
      height: 64px;
    }
    span {
      font-family: "Open Sans";
      font-weight: 600;
      font-size: 18px;
      color: white;
    }
  }
  .navbar-nav {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 16px;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: white;
    }
    .menu-button {
      .is-active-menu {
        width: 25px;
        background-color: #4c54fd;
        height: 2px;
        margin-left: auto;
        margin-right: auto;
      }
      .dropdown-menu {
        .dropdown-item {
          padding: 0.25rem 0.2rem !important;
        }
        .box-arrow-border {
          position: absolute;
          top: -20px;
          left: 72px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 20px solid #21212e;
          width: 0;
          height: 0;
        }
        .box-arrow-border1 {
          position: absolute;
          top: -20px;
          left: 46px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 20px solid #21212e;
          width: 0;
          height: 0;
        }
        .box-arrow-border2 {
          position: absolute;
          top: -20px;
          left: 41px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 20px solid #21212e;
          width: 0;
          height: 0;
        }
        .box-arrow-border3 {
          position: absolute;
          top: -20px;
          left: 24px;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 20px solid #21212e;
          width: 0;
          height: 0;
        }
        ul {
          list-style: none;
          padding: 1.5rem !important;
          font-size: 15px;
          li::before {
            content: attr(data-icon);
            color: #4c54fd;
          }
        }
      }
    }
    .dropdown-toggle::after {
      content: none !important;
    }
  }
  .language-button {
    background-color: #4c54fd;
    color: white;
    border-width: 0px;
    width: 59px;
    height: 43px;
    border-radius: 5px;
    font-family: "Poppins";
    font-weight: bold;
  }
}

.is-active-menu-mobile {
  width: 50px;
  background-color: #4c54fd;
  height: 2px;
  margin-right: auto;
  margin-left: 15px;
}

.header-image {
  background-image: url("../../../assets/home-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.dropdown-menu-dark {
  background-color: #21212e !important;
  box-shadow: 0px 0px 40px #0000008a;
}

.bg-color {
  //height: 1245px;
  min-height: 1245px;
  max-height: max-content;
  background: rgba(0, 1, 33, 0.3);
}

//mobile navbar css
.burger-button {
  color: white;
}

#mySidenav {
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
  .sidenavImg {
    background-image: url("../../../assets/logo_beyaz2x.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 28rem;
    height: inherit;
    background-image: linear-gradient(
        to bottom,
        rgba(33, 33, 46, 0.9) 0%,
        rgba(33, 33, 46, 0.9) 100%
      ),
      url("../../../assets/logo_beyaz2x.png");
  }

  .mobile-menu {
    padding: 1.5rem;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    .mobile-menu-li {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      a {
        color: #818181;
        &:hover {
          color: white;
        }
        &:focus {
          color: white;
        }
      }
    }
  }
}
.ul-sidenav {
  li {
    .dropdown-item {
      font-size: 14px;
      &:hover {
        background-color: gray;
      }
      &:focus {
        background-color: #0d6efc;
      }
    }
    &:before {
      content: attr(data-icon);
      color: #4c54fd;
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.closebtn {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openSideNav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #21212e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.closeSideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.carousel-div {
  margin-left: 9.3%;
  margin-top: 10%;
  .carousel {
    .carousel-item-content {
      font-family: "Poppins";
      .carousel-item-content-header {
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 0px;
        color: #ffff;
      }
      .carousel-item-content-p {
        font-size: 16px;
        color: #ffff;
        font-weight: 200;
      }
      .discover-button {
        width: 220px;
        height: 50px;
        background-color: #4c54fd;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
  }
  .carousel-btn-div {
    position: absolute;
    right: 0;
    bottom: 0;
    .geri {
      background-image: url("../../../assets/coursel-btn.png");
      background-size: cover;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
      transform: rotate(180deg);
      margin-right: 8px;
    }
    .ileri {
      background-image: url("../../../assets/coursel-btn.png");
      background-size: cover;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: none;
    }
  }
}

.page-cards {
  margin-top: 115px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .smart-system {
    margin-left: 16px;
    margin-right: 16px;
  }
  .ticket-system {
    .left {
      background-image: url("../../../assets/ticket-system-icon.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
    }
  }
  .share-platform {
    .left {
      background-image: url("../../../assets/share-icon.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
    }
  }
  .smart-system {
    // &:hover {
    //   .left {
    //     background-image: url("../../../assets/share-icon.png");
    //   }
    // }
    .left {
      background-image: url("../../../assets/smart-system-icon.png");
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
    }
  }
  .ticket-system,
  .share-platform,
  .smart-system {
    width: 510px;
    height: 277px;
    background-color: #262634;
    box-shadow: 0px 10px 20px #0000008a;
    border-radius: 10px;
    display: inline-flex;
    &:hover {
      background-color: #4c54fd;
      -webkit-transition: background-color 200ms linear;
      -ms-transition: background-color 200ms linear;
      transition: background-color 200ms linear;
    }

    .left {
      width: 140px;
      height: auto;
      background-color: #4c54fd;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    .right {
      width: 250px;
      color: white;
      padding-left: 24px;
      padding-top: 35px;
      .header {
        font-size: 20px;
        font-weight: bold;
      }
      .content {
        font-size: 13px;
        font-weight: 200;
      }
      .a-div {
        a {
          color: white;
        }
        margin-top: 25px;
      }
      .hr-div {
        width: 100%;
        background-color: #4c54fd;
        height: 1px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

.mouse-icon {
  background-image: url("../../../assets/mouse-icon.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  height: 100px;
  margin-top: 25px;
  padding-bottom: 25px;
}

.section-two {
  background: #21212e 0% 0% no-repeat padding-box;
  min-height: 1759px;

  .section-two-position {
    margin-left: 14%;
    margin-right: 14%;
    background-color: transparent;
    height: inherit;
    padding-top: 200px;

    .section-ticket-system,
    .section-share-platform,
    .section-smart-system {
      width: 100%;
      min-height: 328px;
      max-height: max-content;
      background: #2e2e41 0% 0% no-repeat padding-box;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 10px;
      display: flex;
      color: white;
      .section-words {
        padding-left: 39px;
        padding-top: 25px;
        padding-bottom: 50px;
        .section-header {
          font: normal normal bold 32px/75px Poppins;
          letter-spacing: 0px;
          color: #ffffff;
          text-transform: uppercase;
        }
        .section-content {
          text-align: left;
          font: normal normal 300 14px/35px Poppins;
          padding-right: 50px;
        }
        .section-button {
          margin-top: 20px;
          button {
            width: 220px;
            height: 40px;
            background-color: #4c54fd;
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 11px;
          }
        }
      }
    }
    .section-ticket-system {
      .section-image {
        background-image: url("../../../assets/iphone-travel.png");
        background-size: 100% 100%;
        border-radius: 0px 10px 10px 0px;
        width: 100%;
        background-repeat: no-repeat;
      }
    }
    .section-smart-system {
      margin-top: 30px;
      margin-bottom: 30px;
      .section-image {
        background-image: url("../../../assets/smart-auto.png");
        background-size: 100% 100%;
        border-radius: 10px 0px 0px 10px;
        width: 100%;
        background-repeat: no-repeat;
      }
    }
    .section-share-platform {
      .section-image {
        background-image: url("../../../assets/smart-scooter.png");
        background-size: 100% 100%;
        border-radius: 0px 10px 10px 0px;
        width: 100%;
        background-repeat: no-repeat;
      }
    }
  }

  .haberler-word {
    height: 211px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    div {
      font-weight: bold;
      font-size: 32px;
      color: white;
      text-align: center;
    }
    &:before {
      content: "HABERLER";
      color: white;
      font-size: 150px;
      opacity: 0.1;
      font-weight: bold;
      position: absolute;
    }
  }

  .div-news {
    height: 656px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    .img-div {
      height: inherit;
      border-radius: 10px;
      width: 67%;
      img {
        border-radius: 10px 0 0 10px;
        height: inherit;
        width: 100%;
      }
    }
    .new-headers {
      width: 33%;
      height: inherit;
      background-color: white;
      padding-top: 30px;
      border-radius: 0 10px 10px 0;
      .new-headers-header {
        font-weight: bold;
        color: black;
        font-size: 18px;
        padding-left: 34px;
      }
      .new-tech,
      .new-design,
      .new-politics,
      .new-education,
      .new-finance {
        padding-left: 34px;
        padding-right: 25px;
        padding-top: 9px;
        padding-bottom: 9px;
        .header-tech {
          color: #46c2ff;
        }
        .header-design {
          color: #719bb0;
        }
        .header-politics {
          color: #f69f58;
        }
        .header-education {
          color: #45c487;
        }
        .header-finance {
          color: #4c54fd;
        }
        .header {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
        }
        .content {
          font-weight: 300;
          font-size: 14px;
          margin-top: 6px;
        }
      }
    }
  }
}
