<main>

    <div class="header-image">
        <div class="bg-color">
            <nav class="navbar navbar-expand-lg">
                <div class="logo d-flex flex-column align-items-center">
                    <img src="../../../assets/logo_beyaz2x.png" alt="">
                    <span>SERİM</span>
                </div>

                <button class="burger-button" mat-icon-button color="primary" (click)="openNav()">
                    <mat-icon>menu</mat-icon>
                </button>
                <!--burası desktop için navbar-->
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="col-9">
                        <ul class="list-unstyled navbar-nav me-auto">
                            <li class="dropdown menu-button">
                                <a class="nav-link dropdown-toggle" ref="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false" (click)="navbarMenuClick($event)">
                                    Akıllı Şehir Çözümleri</a>
                                <div *ngIf="isActiveMenu0" class="is-active-menu"></div>
                                <div class="dropdown-menu dropdown-menu-dark mt-5 animate slideIn"
                                    aria-labelledby="navbarDropdown">
                                    <div class="box-arrow-border">
                                        <div class="box-arrow-background"></div>
                                    </div>
                                    <ul class="d-flex">
                                        <div>
                                            <li class="d-flex align-items-center" data-icon="-"><a class="dropdown-item"
                                                    href="#">Biletleme Sistemi</a></li>
                                            <li class="d-flex align-items-center" data-icon="-"><a class="dropdown-item"
                                                    href="#">Akıllı Otopark Sistemi</a></li>
                                            <li class="d-flex align-items-center" data-icon="-"><a class="dropdown-item"
                                                    href="#">Elektrikli Scooter Platformu</a></li>
                                            <li class="d-flex align-items-center" data-icon="-"><a class="dropdown-item"
                                                    href="#">Rent a Car Araç Kiralama Sistemi</a></li>
                                            <li class="d-flex align-items-center" data-icon="-"><a class="dropdown-item"
                                                    href="#">Maas</a></li>
                                        </div>
                                        <div>
                                            <li class="d-flex align-items-center" data-icon="-"><a class="dropdown-item"
                                                    href="#">Paylaşımlı Bisiklet Sistemi</a></li>
                                            <li class="d-flex align-items-center" data-icon="-"><a class="dropdown-item"
                                                    href="#">Toplu Taşıma Planlama Çözümü</a></li>
                                            <li class="d-flex align-items-center" data-icon="-"><a class="dropdown-item"
                                                    href="#">Tur Yönetim Sistemi</a></li>
                                        </div>
                                    </ul>
                                </div>

                            </li>

                            <li class="dropdown menu-button">
                                <a class="nav-link dropdown-toggle" ref="#" id="navbarDropdown1" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    (click)="navbarMenuClick($event)">Hizmetlerimiz</a>
                                <div *ngIf="isActiveMenu1" class="is-active-menu"></div>
                                <div class="dropdown-menu dropdown-menu-dark mt-5 animate slideIn"
                                    aria-labelledby="navbarDropdown1">
                                    <div class="box-arrow-border1">
                                        <div class="box-arrow-background"></div>
                                    </div>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown menu-button">
                                <a class="nav-link dropdown-toggle" ref="#" id="navbarDropdown2" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    (click)="navbarMenuClick($event)">Hakkımızda</a>
                                <div *ngIf="isActiveMenu2" class="is-active-menu"></div>
                                <div class="dropdown-menu dropdown-menu-dark mt-5 animate slideIn"
                                    aria-labelledby="navbarDropdown2">
                                    <div class="box-arrow-border2">
                                        <div class="box-arrow-background"></div>
                                    </div>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </li>

                            <li class="dropdown menu-button">
                                <a class="nav-link dropdown-toggle" ref="#" id="navbarDropdown3" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    (click)="navbarMenuClick($event)">İletişim</a>
                                <div *ngIf="isActiveMenu3" class="is-active-menu"></div>
                                <div class="dropdown-menu dropdown-menu-dark mt-5 animate slideIn"
                                    aria-labelledby="navbarDropdown3">
                                    <div class="box-arrow-border3">
                                        <div class="box-arrow-background"></div>
                                    </div>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button class="language-button">TR</button>
                    </div>
                </div>
                <!--mobile navbar-->
                <div id="mySidenav" [ngClass]="menuButtonClass">
                    <div class="sidenavImg">

                        <button mat-icon-button class="closebtn" (click)="closeNav()">
                            <mat-icon>close</mat-icon>
                        </button>

                        <ul class="list-unstyled mobile-menu">
                            <li class="mobile-menu-li">
                                <a class="nav-link" ref="#" id="navbarDropdown" (click)="navbarMenuClick($event)"
                                    data-bs-toggle="collapse" href="#multiCollapseExample" role="button"
                                    aria-expanded="false" aria-controls="multiCollapseExample">
                                    Akıllı Şehir Çözümleri
                                </a>

                                <div *ngIf="isActiveMenu0" class="is-active-menu-mobile"></div>
                                <div class="collapse multi-collapse p-2" id="multiCollapseExample">
                                    <ul class="d-flex ul-sidenav">
                                        <div>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Biletleme
                                                    Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Akıllı
                                                    Otopark Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item"
                                                    href="#">Elektrikli Scooter Platformu</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Rent a
                                                    Car Araç Kiralama Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Maas</a>
                                            </li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item"
                                                    href="#">Paylaşımlı Bisiklet Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Toplu
                                                    Taşıma Planlama Çözümü</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Tur
                                                    Yönetim Sistemi</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                            <li class="mobile-menu-li">
                                <a class="nav-link" ref="#" role="button" id="navbarDropdown1" data-bs-toggle="collapse"
                                    href="#multiCollapseExample1" aria-expanded="false"
                                    aria-controls="multiCollapseExample1" (click)="navbarMenuClick($event)">
                                    Hizmetlerimiz
                                </a>
                                <div *ngIf="isActiveMenu1" class="is-active-menu-mobile"></div>
                                <div class="collapse multi-collapse p-2" id="multiCollapseExample1">
                                    <ul class="d-flex ul-sidenav">
                                        <div>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Biletleme
                                                    Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Akıllı
                                                    Otopark Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item"
                                                    href="#">Elektrikli Scooter Platformu</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Rent a
                                                    Car Araç Kiralama Sistemi</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </li>

                            <li class="mobile-menu-li">
                                <a class="nav-link" ref="#" role="button" id="navbarDropdown2" data-bs-toggle="collapse"
                                    href="#multiCollapseExample2" aria-expanded="false"
                                    aria-controls="multiCollapseExample2" (click)="navbarMenuClick($event)">
                                    Hakkımızda
                                </a>
                                <div *ngIf="isActiveMenu2" class="is-active-menu-mobile"></div>
                                <div class="collapse multi-collapse p-2" id="multiCollapseExample2">
                                    <ul class="d-flex ul-sidenav">
                                        <div>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Biletleme
                                                    Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Akıllı
                                                    Otopark Sistemi</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </li>

                            <li class="mobile-menu-li">
                                <a class="nav-link" ref="#" role="button" id="navbarDropdown3" data-bs-toggle="collapse"
                                    href="#multiCollapseExample3" aria-expanded="false"
                                    aria-controls="multiCollapseExample3" (click)="navbarMenuClick($event)">
                                    İletişim
                                </a>
                                <div *ngIf="isActiveMenu3" class="is-active-menu-mobile"></div>
                                <div class="collapse multi-collapse p-2" id="multiCollapseExample3">
                                    <ul class="d-flex ul-sidenav">
                                        <div>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Biletleme
                                                    Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Akıllı
                                                    Otopark Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item"
                                                    href="#">Elektrikli Scooter Platformu</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Rent a
                                                    Car Araç Kiralama Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Maas</a>
                                            </li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item"
                                                    href="#">Paylaşımlı Bisiklet Sistemi</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Toplu
                                                    Taşıma Planlama Çözümü</a></li>
                                            <li class="d-flex" data-icon="-"><a class="dropdown-item" href="#">Tur
                                                    Yönetim Sistemi</a></li>
                                        </div>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

            <div class="carousel-div">
                <!--data-bs-interval="false" bu otomatik oynatmayı durdurmak için-->
                <div id="carouselExampleControls" class="carousel slide col-md-6" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-item-content">
                                <p class="carousel-item-content-header">abfGO Online Bilet Satış ve Rezervasyonu</p>
                                <p class="carousel-item-content-p">abfGO Online Bilet Satış ve Rezervasyon Sistemi;
                                    Bilet satışlarında uzun kuyruklarda
                                    beklemeden, zamandan tasarruf ederek müşterilerin taleplerine göre hazırlanan
                                    çeşitli
                                    biletlerin, kurumun prensipleri doğrultusunda satışında kolaylık sağlayan bir
                                    sistemdir.</p>
                                <button class="discover-button">KEŞFET</button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-item-content">
                                <p class="carousel-item-content-header">abfGO Online Bilet Satış ve Rezervasyonu</p>
                                <p class="carousel-item-content-p">abfGO Online Bilet Satış ve Rezervasyon Sistemi;
                                    Bilet satışlarında uzun kuyruklarda
                                    beklemeden, zamandan tasarruf ederek müşterilerin taleplerine göre hazırlanan
                                    çeşitli
                                    biletlerin, kurumun prensipleri doğrultusunda satışında kolaylık sağlayan bir
                                    sistemdir.</p>
                                <button class="discover-button">KEŞFET</button>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carousel-item-content">
                                <p class="carousel-item-content-header">abfGO Online Bilet Satış ve Rezervasyonu</p>
                                <p class="carousel-item-content-p">abfGO Online Bilet Satış ve Rezervasyon Sistemi;
                                    Bilet satışlarında uzun kuyruklarda
                                    beklemeden, zamandan tasarruf ederek müşterilerin taleplerine göre hazırlanan
                                    çeşitli
                                    biletlerin, kurumun prensipleri doğrultusunda satışında kolaylık sağlayan bir
                                    sistemdir.</p>
                                <button class="discover-button">KEŞFET</button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-btn-div">
                        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev"
                            class="geri">
                        </button>
                        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next"
                            class="ileri">
                        </button>
                    </div>
                </div>
            </div>


            <div>
                <div class="page-cards">
                    <div class="ticket-system">
                        <div class="left">
                        </div>
                        <div class="right">
                            <span class="header">Biletleme Sistemi</span>
                            <div class="hr-div"></div>
                            <span class="content">Lorem ipsum dolor sit amet, atque eaque eius esse et
                                harum inventore ipsam nam necessi is
                                the tatibus nemo pariatur provident.</span>
                            <div class="a-div">
                                <a href="#">Daha Fazla Bilgi</a>
                            </div>
                        </div>
                    </div>
                    <div class="smart-system">
                        <div class="left">
                        </div>
                        <div class="right">
                            <span class="header">Akıllı Otopark Sistemi</span>
                            <div class="hr-div"></div>
                            <span class="content">Lorem ipsum dolor sit amet, atque eaque eius esse et
                                harum inventore ipsam nam necessi is
                                the tatibus nemo pariatur provident.</span>
                            <div class="a-div">
                                <a href="#">Daha Fazla Bilgi</a>
                            </div>
                        </div>
                    </div>
                    <div class="share-platform">
                        <div class="left">
                        </div>
                        <div class="right">
                            <span class="header">Paylaşım Platformu</span>
                            <div class="hr-div"></div>
                            <span class="content">Lorem ipsum dolor sit amet, atque eaque eius esse et
                                harum inventore ipsam nam necessi is
                                the tatibus nemo pariatur provident.</span>
                            <div class="a-div">
                                <a href="#">Daha Fazla Bilgi</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mouse-icon"></div>
        </div>
    </div>
    <div class="section-two">
        <div class="section-two-position">
            <div class="section-ticket-system">
                <div class="section-words">
                    <div class="section-header">BİLETLEME SİSTEMİ</div>
                    <div class="section-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                        sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</div>
                    <div class="section-button">
                        <button>DAHA FAZLA BİLGİ AL ⮕</button>
                    </div>
                </div>
                <div class="section-image"></div>
            </div>

            <div class="section-smart-system">
                <div class="section-image"></div>

                <div class="section-words">
                    <div class="section-header">Akıllı Otopark Sistemİ</div>
                    <div class="section-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                        sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</div>
                    <div class="section-button">
                        <button>DAHA FAZLA BİLGİ AL ⮕</button>
                    </div>
                </div>
            </div>

            <div class="section-share-platform">
                <div class="section-words">
                    <div class="section-header">PAYLAŞIM PLATFORMU</div>
                    <div class="section-content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                        sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</div>
                    <div class="section-button">
                        <button>DAHA FAZLA BİLGİ AL ⮕</button>
                    </div>
                </div>
                <div class="section-image"></div>
            </div>

            <div class="haberler-word">
                <div>HABERLER</div>
            </div>

            <div class="div-news">
                <div class="img-div">
                    <img src="../../../assets/connected-technology.jpg" alt="">
                </div>
                <div class="new-headers">
                    <div class="new-headers-header">HABERLER</div>
                    <hr>
                    <div class="new-tech">
                        <div class="header header-tech">Teknoloji</div>
                        <div class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonum.
                        </div>
                    </div>
                    <hr>
                    <div class="new-design">
                        <div class="header header-design">Tasarım</div>
                        <div class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonum.
                        </div>
                    </div>
                    <hr>
                    <div class="new-politics">
                        <div class="header header-politics">Siyaset</div>
                        <div class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonum.
                        </div>
                    </div>
                    <hr>
                    <div class="new-education">
                        <div class="header header-education">Eğitim</div>
                        <div class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonum.
                        </div>
                    </div>
                    <hr>
                    <div class="new-finance">
                        <div class="header header-finance">Finans</div>
                        <div class="content">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonum.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>